# Nao modifique este arquivo por questoes de seguranca
Options All -Indexes
RewriteEngine On

# Encaminhe todas as solicitações
RewriteRule (.*) Public/$1 [L,QSA]

# Segurança adicional para arquivos que começando com .
<files ".*">
order allow,deny
deny from all
</files>

ErrorDocument 403 /